

#textInput {
  font-size: 32px;
  position: relative;
  white-space: pre;
  padding: 20px 10px 10px;
  overflow: hidden;
  height: 80px;
  display: inline-block;
  width: 100%;
  min-width: 300px;
  min-height: 80px;
}

#textInput.active {
  box-shadow: 0 0 0 0.15rem rgba(255, 0, 0, 0.3);
}

#textInput.active:before {
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  content: 'CASE SENSITIVE';
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px 10px;
  position: absolute;
  color: #ddd;
}

#textInput.active:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 3px;
  background: #fff;
  left: 12px;
  top: 60px;
  -webkit-animation: flash .3s infinite;
  animation: flash .3s infinite;
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
}

#textOutput {
  background: #222;
  color: #fff;
  padding: 1rem;
  max-width: 600px;
  margin: 2em auto;
  white-space: pre-wrap;
  overflow: hidden;
  min-height: 100px;
}

.mono {
  font-family: "Cutive Mono", "Courier New", monospace;
}

.x-small {
  font-size: 75%
}

.list-item {
  color: #6c757d
}

.stats {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
  color: #212529
}

@-webkit-keyframes flash {
  0% {
    background: #fff;
  }

  50% {
    background: #FF9999
  }

  100% {
    background: #fff;
  }
}

@keyframes flash {
  0% {
    background: #fff;
  }

  50% {
    background: #FF9999
  }

  100% {
    background: #fff;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation-name: modalopen;
  animation-name: modalopen;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.media-object {
  max-height: 70px
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


@keyframes modalopen {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.meter-gauge {
  display: flex;
}

.meter-gauge>span {
  text-align: center;
  font-size: 12px;
  min-height: 25px;
  padding: 5px;
}

.modal-header {
  padding: .5rem;
}

.hr-x {
  width: 40px
}

.sound-control {
  position: fixed;
  z-index: 999;
  left: 20px;
  bottom: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.sound-control > svg {
  height: 35px;
  width: 35px;
}

.btn-control{
  color: #fff;
  background-color: #000;
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}
